@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}
<div class="welcome-background"></div>
<div class="error-container">
    <h1 class="error-text-danger">Упс! Нещо се обърка.</h1>
    <h2 class="error-text-danger">Срещнахме проблем при обработката на вашето искане.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Референтен номер:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <p>
        Моля, опитайте отново по-късно или се свържете с поддръжката, ако проблемът продължи.
    </p>

</div>
